.about-container {
  background-color: #3a3f47;
  border-radius: 8px;
  margin: 1.5rem;
  padding: 1rem;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
}

.about-header {
  margin-top: 60px;
  text-align: center;
}

.profile-image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.profile-image {
  width: 160px;
  height: 160px;
  border-radius: 10%;
  object-fit: cover;
  border: 3px solid #eee;
}
