.about-container {
  background-color: #3a3f47;
  border-radius: 8px;
  margin: 1.5rem;
  padding: 1rem;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
}

.about-header {
  margin-top: 60px;
  text-align: center;
}
